{% load static %}

{% if contacts.gender == 'male' %}
    <div class="card my-2 mx-2 boy-card {% if 'detail' in request.path %} mx-auto w-25 {% endif %} ">
        <img src="{% if contacts.image %}
        {{contacts.image.url}}
        {% else %}
        {% static 'images/boy.png' %}
        {% endif %}" class="img-fluid" />
        <div class="card-header">
        <a href="{% url 'detail' contacts.id %}" class="text-white header-link"
            ><i class="fas fa-mars mr-2"></i> {{contacts.name}}</a>
        </div>
        <div class="card-body pb-0">
        <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:samirphuyal65@gmail.com">{{contacts.email}} </a>
        </p>
        <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:9001010100">{{contacts.phone}}</a>
        </p>
        <p><i class="fas fa-info-circle mr-2"></i> {{contacts.info}}</p>
        </div>
    </div>

<!-- Card for details ends -->
{% else %}

    <div class="card my-2 mx-2 girl-card {% if 'detail' in request.path %} mx-auto w-25 {% endif %} ">
        <img src="{% static 'images/girl.png' %}" class="img-fluid" />
        <div class="card-header">
        <a href="{% url 'detail' contacts.id %}" class="text-white header-link"
            ><i class="fas fa-venus mr-2"></i> {{contacts.name}} </a
        >
        </div>
        <div class="card-body pb-0">
        <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:pinkjune@gmail.com">{{contacts.email}}</a>
        </p>
        <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:9819090909">{{contacts.phone}}</a>
        </p>
        <p><i class="fas fa-info-circle mr-2"></i> {{contacts.info}}</p>
        </div>
    </div>
 {% endif %}